@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

:root {
    --main-color: #FFFFFF;
    --second-color: #FD0000;
    --third-color: #FFE400;
    --body-color: #000000;

    --main-font: 'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--main-font);
}

.container {
    max-width: 1200px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar .navbar-wrapper{
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.50);
}

.navbar-wrapper .menu {
    display: flex;
    gap :20px;
}

.menu .menulink {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600px;
}

.navbar-wrapper .btn-uncoming-show {
    padding: 10px;
    background-color: var(--third-color);
    border-radius: 10px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}